<?xml version="1.0"?>
<!--
  Для получения дополнительных сведений о настройке приложения ASP.NET посетите веб-сайт
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>